@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css')

.scheduleCalendar .fc-view-harness {
  background-color: white;
  overflow: auto;
  height: 75vh !important;
}
.scheduleCalendar .fc-view-harness .fc-dayGridMonth-view thead tbody {
  background-color: #1a9ab2;
}
.scheduleCalendar .fc-view-harness .fc-dayGridMonth-view thead tbody a {
  color: white;
  text-decoration: none;
}
.scheduleCalendar .fc-view-harness .fc-daygrid-day.fc-day-today {
  background-color: #1a9ab2;
}
.scheduleCalendar .fc-view-harness .fc-daygrid-day.fc-day-today .fc-daygrid-day-top a {
  color: white;
}
.scheduleCalendar a {
  text-decoration: none;
}
.scheduleCalendar .fc-daygrid-event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: break-spaces;
  font-size: 13px;
  padding: 4px;
  position: relative;
}
.scheduleCalendar .fc-daygrid-event .tooltip {
  position: absolute;
  bottom: 100%;
  padding: 10px;
  display: block !important;
  opacity: 1;
  pointer-events: none;
  padding: 4px;
  background-color: white;
  border-color: #43AE5E;
  color: #58B770;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  z-index: 10000;
  transform: translateY(-20px);
  min-width: 200px;
}
.scheduleCalendar .fc-daygrid-event.fc-event-today {
  color: white;
}
.scheduleCalendar .fc-daygrid-event .fc-daygrid-event-dot {
  display: none;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: stretch;
}
.wrapper main {
  width: 100%;
}
.wrapper .sidebar {
  background-color: #1a9ab2;
  width: 100%;
  max-width: 250px;
}
.wrapper .sidebar__header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 18px;
  display: flex;
  align-items: center;
}
.wrapper .sidebar__header h3 {
  font-weight: 600;
  color: #fff;
  font-size: 17px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.8px;
}
.wrapper .sidebar ul {
  margin-top: 15px;
}
.wrapper .sidebar ul li {
  padding: 10px 18px;
}
.wrapper .sidebar ul li a {
  color: white;
  font-size: 17px;
  opacity: 0.8;
  font-weight: 400;
}
.wrapper .sidebar ul li.active a {
  opacity: 1;
  font-weight: 600;
}

.home__header {
  height: 170px;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: #fff;
  justify-content: center;
}
.home__header__actions {
  display: flex;
  color: white;
  align-items: center;
}
.home__header__actions a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
}
.home__header__actions a:last-child {
  margin-right: 0;
}
.home__header__actions a:hover {
  opacity: 0.5;
}

.degradado{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1);
    background-size: 600% 100%;
    animation: gradient 6s linear infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}


.hero {
  font-family: "Rubik", sans-serif;
  width: 100%;
  padding: 60px;
  position: relative;
  color: white;
  height: calc(100vh - 86px);
}
.hero:before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.hero > .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  position: relative;
  height: 100%;
}
.hero__content {
  width: 100%;
  max-width: 800px;
  margin-left: 40px;
  transform: translateY(-10%);
    display: contents;
}
.hero h1 {
  font-weight: 700;
  margin-bottom: 25px;
}
.hero h1 span {
  display: block;
}
.hero p {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.hero ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hero ul li {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 15px;
  position: relative;
  padding-left: 22px;
  letter-spacing: 0.5px;
}
.hero ul li:before {
  position: absolute;
  top: 16px;
  left: 0;
  width: 10px;
  height: 2px;
  background-color: white;
  content: "";
}
.hero ul li:after {
  position: absolute;
  top: 12px;
  left: 4px;
  width: 2px;
  height: 10px;
  background-color: white;
  content: "";
}
.hero ul li:last-child {
  margin-bottom: 0;
}
.hero__buttons {
  margin-top: 30px;
}
.hero__buttons a {
    padding: 15px !important;
    font-size: 20px !important;
    min-width: 200px;
    margin-right: 20px;
    color: #1a9ab2;
    background-color: white;
    border-style: none;
}

.hero__buttons a:hover {
    padding: 15px !important;
    font-size: 20px !important;
    min-width: 200px;
    margin-right: 20px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.38);
}

.hero__buttons a:last-child {
  margin-right: 0;
}

.form-group {
    padding-bottom: 10px;
}
